<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">

      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

        <!-- Customer form group -->
        <div formGroupName="customer" class="form-area">
          <h3>Customer</h3>

          <div class="row">
            <div class="col-md-2"><label>First Name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="firstName" type="text">

                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger mt-1">

                  <div *ngIf="firstName.errors['required'] || firstName.errors['onlyWhitespace']">
                    Please enter your first name
                  </div>

                  <div *ngIf="firstName.errors['minlength']">
                    Your name must consist of atleast two characters
                  </div>

                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Last Name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="lastName" type="text">

                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger mt-1">

                  <div *ngIf="lastName.errors['required'] || lastName.errors['onlyWhitespace']">
                    Please enter your name
                  </div>

                  <div *ngIf="lastName.errors['minlength']">
                    Your name must consist of atleast 2 characters
                  </div>

                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Email</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="email" type="text">

                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger mt-1">

                  <div *ngIf="email.errors['required']">
                    Please enter your email
                  </div>

                  <div *ngIf="email.errors['pattern']">
                    Invalid email address
                  </div>

                </div>

              </div>
            </div>
          </div>

        </div>

        <!-- Shipping Address form control group -->

        <div formGroupName="shippingAddress" class="form-area">
          <h3>Shipping Address</h3>

          <div class="row">
            <div class="col-md-2"><label>Country</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="country" (change)="getStates('shippingAddress')">
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{ country.name }}
                  </option>
                </select>

                <div *ngIf="shippingAddressCountry.invalid && (shippingAddressCountry.dirty || shippingAddressCountry.touched)"  class="alert alert-danger mt-1">
                  <div *ngIf="shippingAddressCountry.errors['required']">
                    Please enter your country
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Street</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text">

                <div *ngIf="shippingAddressStreet.invalid && (shippingAddressStreet.dirty || shippingAddressStreet.touched)"  class="alert alert-danger mt-1">
                  <div *ngIf="shippingAddressStreet.errors['required'] || shippingAddressStreet.errors['onlyWhitespace']">
                    Please enter your street
                  </div>

                  <div *ngIf="shippingAddressStreet.errors['minlength']">
                    This field should contain atleast two characters
                  </div>

                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>City</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" type="text">

                <div *ngIf="shippingAddressCity.invalid && (shippingAddressCity.dirty || shippingAddressCity.touched)"  class="alert alert-danger mt-1">
                  <div *ngIf="shippingAddressCity.errors['required'] || shippingAddressCity.errors['onlyWhitespace']">
                    Please enter your city
                  </div>

                  <div *ngIf="shippingAddressCity.errors['minlength']">
                    This field should contain atleast two characters
                  </div>

                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>State</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state">
                  <option *ngFor="let state of shippingAddressStates" [ngValue]="state">
                    {{ state.name }}
                  </option>
                </select>

                <div *ngIf="shippingAddressState.invalid && (shippingAddressState.dirty || shippingAddressState.touched)"  class="alert alert-danger mt-1">
                  <div *ngIf="shippingAddressState.errors['required']">
                    Please enter your state
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Zip Code</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipcode" type="text">

                <div *ngIf="shippingAddressZipcode.invalid && (shippingAddressZipcode.dirty || shippingAddressZipcode.touched)"  class="alert alert-danger mt-1">
                  <div *ngIf="shippingAddressZipcode.errors['required'] || shippingAddressZipcode.errors['onlyWhitespace']">
                    Please enter your zipcode
                  </div>

                  <div *ngIf="shippingAddressZipcode.errors['minlength']">
                    This field should contain atleast two characters
                  </div>

                </div>

              </div>
            </div>
          </div>

        </div>

        <!-- Add checkbox to copy shipping address to billing address -->
        <div class="input-space">
          <label class="au-checkbox">
            <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
            <span class="au-checkmark"></span>Billing Address same as Shipping Address
          </label>
        </div>

        <!-- Billing address -->

        <div formGroupName="billingAddress" class="form-area">
          <h3>Billing Address</h3>

          <div class="row">
            <div class="col-md-2"><label>Country</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="country" (change)="getStates('billingAddress')">
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{ country.name }}
                  </option>
                </select>

                <div *ngIf="billingAddressCountry.invalid && (billingAddressCountry.dirty || billingAddressCountry.touched) " class="alert alert-danger mt-1">
                  <div *ngIf="billingAddressCountry.errors['required']">
                    Please enter the country
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Street</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text">

                <div *ngIf="billingAddressStreet.invalid && (billingAddressStreet.dirty || billingAddressStreet.touched) " class="alert alert-danger mt-1">
                  <div *ngIf="billingAddressStreet.errors['required'] || billingAddressStreet.errors['onlyWhitespace']">
                    Please enter the street
                  </div>

                  <div *ngIf="billingAddressStreet.errors['minlength']">
                    This field should contain atleast two characters
                  </div>

                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>City</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" type="text">

                <div *ngIf="billingAddressCity.invalid && (billingAddressCity.dirty || billingAddressCity.touched) " class="alert alert-danger mt-1">
                  <div *ngIf="billingAddressCity.errors['required'] || billingAddressCity.errors['onlyWhitespace']">
                    Please enter the city
                  </div>

                  <div *ngIf="billingAddressCity.errors['minlength']">
                    This field should contain atleast two characters
                  </div>

                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>State</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state" >
                  <option *ngFor="let state of billingAddressStates" [ngValue]="state">
                    {{ state.name }}
                  </option>
                </select>

                <div *ngIf="billingAddressState.invalid && (billingAddressState.dirty || billingAddressState.touched) " class="alert alert-danger mt-1">
                  <div *ngIf="billingAddressState.errors['required']">
                    Please enter the state
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Zip Code</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipcode" type="text">

                <div *ngIf="billingAddressZipcode.invalid && (billingAddressZipcode.dirty || billingAddressZipcode.touched) " class="alert alert-danger mt-1">
                  <div *ngIf="billingAddressZipcode.errors['required'] || billingAddressZipcode.errors['onlyWhitespace']">
                    Please enter the zipcode
                  </div>

                  <div *ngIf="billingAddressZipcode.errors['minlength']">
                    This field should contain atleast two characters
                  </div>

                </div>

              </div>
            </div>
          </div>

        </div>

        <!-- Credit Card -->

        <div formGroupName="creditCard" class="form-area">
          <h3>Credit Card</h3>

          <div class="row">
            <div class="col-md-2"><label>Card Type</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="cardType">
                  <option>Visa</option>
                  <option>Mastercard</option>
                </select>

                <div *ngIf="creditCardType.invalid && (creditCardType.dirty || creditCardType.touched ) " class="alert alert-danger mt-1">
                  <div *ngIf="creditCardType.errors['required']">
                    Card Type is required
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Name</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="nameOnCard" type="text">

                <div *ngIf="creditCardNameOnCard.invalid && (creditCardNameOnCard.dirty || creditCardNameOnCard.touched)" class="alert alert-danger mt-1">

                  <div *ngIf="creditCardNameOnCard.errors['required'] || creditCardNameOnCard.errors['onlyWhitespace']">
                    Name is required
                  </div>

                  <div *ngIf="creditCardNameOnCard.errors['minlength']">
                    This field needs atleast two characters
                  </div>

                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Card Number</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="cardNumber" type="text">

                <div *ngIf="creditCardNumber.invalid && (creditCardNumber.dirty || creditCardNumber.touched)" class="alert alert-danger mt-1">

                  <div *ngIf="creditCardNumber.errors['required']">
                    Card number is required
                  </div>

                  <div *ngIf="creditCardNumber.errors['pattern']">
                    Invalid card number
                  </div>

                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Security Code</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="securityCode" type="text">

                <div *ngIf="creditCardSecurityCode.invalid && (creditCardSecurityCode.dirty || creditCardSecurityCode.touched )  " class="alert alert-danger mt-1">

                  <div *ngIf="creditCardSecurityCode.errors['required']">
                    Security Code is required
                  </div>

                  <div *ngIf="creditCardSecurityCode.errors['pattern']">
                    Invalid Security Code
                  </div>
                </div>

              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-2"><label>EXPIRATION Month</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationMonth">
                  <option *ngFor="let month of creditCardMonths">
                    {{ month }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>EXPIRATION Year</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationYear" (change)="handleMonthsAndYears()">
                  <option *ngFor="let year of creditCardYears">
                    {{ year }}
                  </option>
                </select>
              </div>
            </div>
          </div>

        </div>

        <div class="form-area">
          <h3>Review Your Order</h3>
          <p>Total Quantity: {{ totalQuantity }}</p>
          <p>Shipping: FREE</p>
          <p>Total Price: {{ totalPrice | currency: 'USD' }}</p>
        </div>


        <!-- Submit button -->
        <div class="text-center">
          <button type="submit" class="btn btn-info">Purchase</button>
        </div>

      </form>

    </div>
  </div>
</div>
